// UI COLORS
$grey-dark: #212121;
$grey: #424242;
$red-light: #f5515f;
$red: #da0463;
// TETROMINOS COLORS
$blue-light: #45aaf2; //#3498db;
$yellow: #fed330; //#f1c40f;
$magenta: #8854d0; //#9b59b6;
$green: #20bf6b; //#2ecc71;
$red: #eb3b5a; //#c0392b;
$blue: #3867d6; //#2980b9;
$orange: #fa8231; //#e74c3c;
