.panel {
  .panel__title {
    font-weight: 300;
  }
  .panel__content {
    // background-image: url("../assets/images/marble-texture.jpg");
    background-color: lightseagreen;
    background-size: cover;
    border-radius: 4px;
    padding: 16px;
  }
}
