@import "../App/colors";

.notification {
  background-color: $grey;
  padding: 10px 15px;
  display: flex;
  margin-bottom: 5px;

  .notification__content {
    width: 90%;
  }
  .notification__button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
  }
}

.button--close {
  cursor: pointer;
}
