@import "../App/colors";
@import "../App/fonts";

.notification {
  background-color: $grey-light;
  font-size: $font--normal;
  border-radius: 4px;
  display: flex;
  margin-bottom: 5px;
  min-width: 300px;
  padding: 10px 15px;
  .notification__content {
    width: 80%;

    display: flex;
    align-items: center;
  }
  .notification__button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
  }
}

.button--close {
  cursor: pointer;
  width: 25px;
}
