.connection-view {
  display: flex;

  .bloc {
    width: 50%;
    height: 100vh;
  }

  .bloc--vh-align {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logo {
  font-size: 180px;
  font-weight: bold;
  font-style: italic;
  background: url("https://media.giphy.com/media/dxXvA7SPqI5JC/giphy.gif");
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
